<% if (message) { %>
    <div class="alert alert-success messageLogin" id="successMessage">
        <%= message %>
    </div>
    <% } %>

        <h1>Dashboard</h1>

        <div class="container thongso">
            <h2>Thống kê thông số</h2>

            <div class="row g-3 mt-2">
                <!-- Người dùng -->
                <div class="col-md-3">
                    <div class="card bg-primary text-white">
                        <div class="card-body text-center">
                            <h5 class="card-title">
                                <i class="fas fa-users"></i> Người dùng
                            </h5>
                            <p class="card-text display-6">
                                <%= results.totalNguoiDung %>
                            </p>
                        </div>
                    </div>
                </div>

                <!-- Ẩm thực -->
                <div class="col-md-3">
                    <div class="card text-white" style="background-color: #108AB1;">
                        <div class="card-body text-center">
                            <h5 class="card-title">
                                <i class="fas fa-utensils"></i> Ẩm thực
                            </h5>
                            <p class="card-text display-6">
                                <%= results.totalAmThuc %>
                            </p>
                        </div>
                    </div>
                </div>

                <!-- Tiện nghi -->
                <div class="col-md-3">
                    <div class="card text-white" style="background-color: #F78C6A;">
                        <div class="card-body text-center">
                            <h5 class="card-title">
                                <i class="fas fa-concierge-bell"></i> Tiện nghi
                            </h5>
                            <p class="card-text display-6">
                                <%= results.totalTienNghi %>
                            </p>
                        </div>
                    </div>
                </div>

                <!-- Dịch vụ -->
                <div class="col-md-3">
                    <div class="card text-white" style="background-color: #C3C7F4;">
                        <div class="card-body text-center">
                            <h5 class="card-title">
                                <i class="fas fa-cogs"></i> Dịch vụ
                            </h5>
                            <p class="card-text display-6">
                                <%= results.totalDichVu %>
                            </p>
                        </div>
                    </div>
                </div>

                <!-- Loại phòng -->
                <div class="col-md-3">
                    <div class="card text-white" style="background-color: #0C6478;">
                        <div class="card-body text-center">
                            <h5 class="card-title">
                                <i class="fas fa-door-closed"></i> Loại phòng
                            </h5>
                            <p class="card-text display-6">
                                <%= results.totalLoaiPhong %>
                            </p>
                        </div>
                    </div>
                </div>

                <!-- Đánh giá -->
                <div class="col-md-3">
                    <div class="card bg-info text-white shadow">
                        <div class="card-body text-center">
                            <h5 class="card-title">
                                <i class="fas fa-star"></i> Đánh giá
                            </h5>
                            <p class="card-text display-6">
                                <%= results.totalDanhGia %>
                            </p>
                        </div>
                    </div>
                </div>

                <!-- Phòng -->
                <div class="col-md-3">
                    <div class="card text-white" style="background-color: #728156;">
                        <div class="card-body text-center">
                            <h5 class="card-title">
                                <i class="fas fa-bed"></i> Phòng
                            </h5>
                            <p class="card-text display-6">
                                <%= results.totalPhong %>
                            </p>
                        </div>
                    </div>
                </div>

                <!-- Phòng -->
                <div class="col-md-3">
                    <div class="card text-dark" style="background-color: #e7f5dc;">
                        <div class="card-body text-center">
                            <h5 class="card-title">
                                <i class="fas fa-bed"></i> Phòng trống
                            </h5>
                            <p class="card-text display-6">
                                <%= results.totalPhongTrong %>
                            </p>
                        </div>
                    </div>
                </div>

                <!-- Hỗ trợ -->
                <div class="col-md-3">
                    <div class="card bg-secondary text-white">
                        <div class="card-body text-center">
                            <h5 class="card-title">
                                <i class="fas fa-headset"></i> Hỗ trợ
                            </h5>
                            <p class="card-text display-6">
                                <%= results.totalHoTro %>
                            </p>
                        </div>
                    </div>
                </div>

                <!-- Hỗ trợ chưa xử lý -->
                <div class="col-md-3">
                    <div class="card bg-header text-white">
                        <div class="card-body text-center">
                            <h5 class="card-title">
                                <i class="fas fa-headset"></i> Hỗ trợ chưa xử lý
                            </h5>
                            <p class="card-text display-6">
                                <%= results.hoTroChuaXuLy %>
                            </p>
                        </div>
                    </div>
                </div>

                <!-- Coupon -->
                <div class="col-md-3">
                    <div class="card bg-success text-white">
                        <div class="card-body text-center">
                            <h5 class="card-title">
                                <i class="fas fa-ticket-alt"></i> Coupon
                            </h5>
                            <p class="card-text display-6">
                                <%= results.totalCoupon %>
                            </p>
                        </div>
                    </div>
                </div>

                <!-- Tổng doanh thu -->
                <div class="col-md-3">
                    <div class="card bg-danger text-white">
                        <div class="card-body text-center">
                            <h5 class="card-title">
                                <i class="fas fa-dollar"></i> Tổng doanh thu
                            </h5>
                            <p class="card-text display-6">
                                <%= results.tongDoanhThuHoaDon %>
                            </p>
                        </div>
                    </div>
                </div>


                <!-- Hóa đơn -->
                <div class="col-md-3">
                    <div class="card text-white" style="background-color: #413e95;">
                        <div class="card-body text-center">
                            <h5 class="card-title">
                                <i class="fas fa-file-invoice-dollar"></i> Hóa đơn
                            </h5>
                            <p class="card-text display-6">
                                <%= results.totalHoaDon %>
                            </p>
                        </div>
                    </div>
                </div>

                <!-- Hóa đơn chưa xử lý-->
                <div class="col-md-3">
                    <div class="card bg-light text-dark">
                        <div class="card-body text-center">
                            <h5 class="card-title">
                                <i class="fas fa-file-invoice-dollar"></i> HĐ chưa nhận phòng
                            </h5>
                            <p class="card-text display-6">
                                <%= results.hoaDonChuaXuLy %>
                            </p>
                        </div>
                    </div>
                </div>

                <!-- Hóa đơn bij hủy -->
                <div class="col-md-3">
                    <div class="card text-white" style="background-color: #716fa5;">
                        <div class="card-body text-center">
                            <h5 class="card-title">
                                <i class="fas fa-file-invoice-dollar"></i> HĐ bị hủy
                            </h5>
                            <p class="card-text display-6">
                                <%= results.hoaDonBiHuy %>
                            </p>
                        </div>
                    </div>
                </div>

                <!-- Tổng doanh thu tháng -->
                <div class="col-md-3">
                    <div class="card bg-primary text-white">
                        <div class="card-body text-center">
                            <h5 class="card-title">
                                <i class="fas fa-dollar"></i> Doanh thu tháng
                            </h5>
                            <p class="card-text display-6">
                                <%= results.doanhThuThang %>
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>